section#products {
    padding: 20px 0;
}

.section-title {
    font-size: 48px;
    padding: 20px 0;
}

.product-col h3 {
    font-size: 1.6em;
    margin: 10px 0;
}

.product-col {
    padding: 20px;
}

.product-col h4 {
    font-size: 30px;
    color: #b7030a;
}

.product-col p {
    text-align: justify;
}

button.btn-order {
    background-color: #b7030a;
    color: white;
    font-size: 18px;
}

button.btn-order:hover {
    background-color: #295691;
    color: white;
}