#dashboard {
    background-color: aquamarine;
} 
.dashboard-content {
    margin-top: 22px;
}

#dashboard-nav ul{
    margin-left: 20px;
    width: 80%;
    list-style: none;
    margin-top: 30px;
}
#dashboard-nav ul li {
    cursor: pointer;
    margin: 5px 0;
    padding: 10px 0;
    background-color: #7d7b92;
    color: white;
    font-size: 20px;
}

#dashboard-nav ul li:hover {
    background-color: #B7030A;
}