#add-product-form {
    width: 75%;
    margin: auto;
}

#add-product-form input, #add-product-form textarea {
    width: 80%;
    padding: 10px;
}

#add-product-form input[type=submit] {
    display: block;
    margin: auto;
    padding: 10px 0;
    background-color: #B7030A;
    color: white;
    width: 25%;
}